<section class="product section container">
                <h2 class="section__title-center">
                    Check out our <br> mini games
                </h2>
                <p class="product__description">
                    Here are some mini games that you can play and enjoy!!
                </p>
                <div class="product__container grid" style="justify-content: center;">
                    <article class="product__card">

                        <a href="/minigames/memorycard"><img src="images/card.png" alt="" class="product__img"></a>

                        <h3 class="product__title" style="text-transform: uppercase;">MEMORY CARD GAME</h3>
                        <span class="product__price"></span>
                    </article>
                    <article class="product__card">
                        <a href="/minigames/quiz"><img src="images/quiz.png" alt="" class="product__img"></a>

                        <h3 class="product__title" style="text-transform: uppercase;">QUIZ GAME</h3>
                        <span class="product__price"></span>
                    </article>
                </div>
            </section>