<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/images/heart-3-line.png">
  <title>You Are My Home</title>
  {{!-- GOOGLE FONTS --}}
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  {{!-- REMIXCON --}}
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {{!-- STYLES --}}
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/musicstyle.css">
  <link rel="stylesheet" href="/css/gamestyle.css">
  <link rel="stylesheet" href="/css/quizstyle.css">
  

</head>
    <body>
        {{>navbar}}
        {{{ body }}}
        {{>footer}}

    {{!-- SCRIPTS --}}
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/js/script.js"></script>
    <script src="/js/quizscript.js"></script>
    <script src="/js/gamescript.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/scrollreveal.min.js"></script>
  </body>
</html>