<footer class="footer section">
    <div class="footer__container container grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">
                <i class="ri-heart-3-line footer__logo-icon"></i> YOU ARE MY HOME
            </a>
        </div>
    </div>

    <p class="footer__copy">&#169; DianaIdk. All rigths reserved</p>
</footer>
<a href="#" class="scrollup" id="scroll-up"> 
    <i class="ri-arrow-up-fill scrollup__icon"></i>
</a>
