<header class="header" id="header">
    <nav class="nav container">
        <a href="/home" class="nav__logo">
            <i class="ri-heart-3-line"></i>You Are My Home
        </a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/home" class="nav__link active-link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="/home#about" class="nav__link">About</a>
                </li>
                <li class="nav__item">
                    <a href="/home#gallery" class="nav__link">Gallery</a>
                </li>
                <li class="nav__item">
                    <a href="/home#faqs" class="nav__link">FAQs</a>
                </li>
                <li class="nav__item">
                    <a href="/musicplayer" class="nav__link">Playlist</a>
                </li>
                <li class="nav__item">
                    <a href="/minigames" class="nav__link">Games</a>
                </li>
                <li class="nav__item">
                    <a href="/home#contact" class="nav__link">Contact Us</a>
                </li>
                 <li class="nav__item">
                    <a href="https://drive.google.com/file/d/1E8gjHHEtl9cCWyM3bKA7xWa5n2FbDDTN/view?usp=share_link" target="_blank" class="nav__link">iloveu.book</a>
                </li>
            </ul>
            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>
        <div class="nav__btns">
            <!-- Theme change button -->
            <i class="ri-moon-line change-theme" id="theme-button"></i>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </div>
    </nav>     
</header>